# Kotlin specific files
*.class
*.jar
*.war
*.ear

# Gradle files
.gradle
/build
*/build/

# Android Studio specific files
.idea/
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Local configuration files (SDK, Emulator, etc.)
local.properties
/captures
.externalNativeBuild
.cxx

# OS files
.DS_Store

# Dependency directories
.gradle/
**/build/

# Log files
*.log
